@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

#bckgrd-video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

header {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 30px 60px;
  position: fixed;
  background-color: transparent;
  box-sizing: border-box;
  top: 0;
  z-index: 3;
}

nav:hover {
  background-color: white;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.logo img {
  width: 150px;
  height: 50px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
  font-family: "Open Sans", system-ui;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  transition: color 0.3s, background-color 0.3s;
  font-family: "Open Sans", system-ui;
  font-weight: 600;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.nav-links a:hover {
  color: rgb(32, 110, 182);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.meeting-button {
  background-color: rgb(36, 117, 238);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
  text-align: center;
  display: flex;
  align-items: center;
}

.meeting-button:hover {
  background-color: darkblue;
  color: white;
}

.hero-p .hero-head {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 6em;
  font-weight: 700;
  z-index: 2;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  background: radial-gradient(circle, #147199 0, #04153a 65%, #308cb4 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hero-p p {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 4.5em;
  font-family: "Open Sans", sans-serif;
  z-index: 2;
}

.hero-p p .word {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  color: rgb(126, 202, 209);
  font-weight: 700;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.hero-p p .word .letter {
  transform-origin: center center 25px;
}

.hero-p p .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

.hero-p p .word .letter.in {
  transition: 0.38s ease;
}

.hero-p p .word .letter.behind {
  transform: rotateX(-90deg);
}

@media (max-width: 1200px) {
  .hero-p .hero-head {
    font-size: 3em;
  }

  .hero-p p {
    font-size: 2.5em;
  }

  .nav-links {
    gap: 10px;
  }

  .nav-links li a {
    padding: 6px 12px;
  }

  .meeting-button {
    padding: 6px 12px;
  }
}

@media (max-width: 768px) {
  nav {
    padding: 20px 30px;
  }

  .hero-p .hero-head {
    font-size: 2.5em;
  }

  .hero-p p {
    font-size: 2em;
  }

  .logo img {
    width: 100px;
  }

  .nav-links {
    gap: 8px;
  }
}

@media (max-width: 480px) {
  nav {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .nav-links {
    flex-direction: column;
    gap: 5px;
  }

  .hero-p .hero-head {
    font-size: 2em;
    top: 30%;
  }

  .hero-p p {
    font-size: 1.5em;
  }

  .logo img {
    width: 80px;
  }

  .meeting-button {
    padding: 5px 10px;
  }
}

.hero-p .hero-head {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: 6em;
  font-weight: 700;
  z-index: 2;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  background: radial-gradient(circle, #147199 0, #04153a 65%, #308cb4 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hero-p p {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 4.5em;
  font-family: "Open Sans", sans-serif;
  z-index: 2;
}

.hero-p p .word {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  color: rgb(126, 202, 209);
  font-weight: 700;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.hero-p p .word .letter {
  transform-origin: center center 25px;
}

.hero-p p .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

.hero-p p .word .letter.in {
  transition: 0.38s ease;
}

.hero-p p .word .letter.behind {
  transform: rotateX(-90deg);
}

@media (max-width: 1200px) {
  .hero-p .hero-head {
    font-size: 3em;
  }

  .hero-p p {
    font-size: 2.5em;
  }

  .nav-links {
    gap: 10px;
  }

  .nav-links li a {
    padding: 6px 12px;
  }

  .meeting-button {
    padding: 6px 12px;
  }
}

@media (max-width: 768px) {
  nav {
    padding: 20px 30px;
  }

  .hero-p .hero-head {
    font-size: 2.5em;
  }

  .hero-p p {
    font-size: 2em;
  }

  .logo img {
    width: 100px;
  }

  .nav-links {
    gap: 8px;
  }
}

@media (max-width: 480px) {
  nav {
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }

  .nav-links {
    flex-direction: column;
    gap: 5px;
  }

  .hero-p .hero-head {
    font-size: 2em;
    top: 30%;
  }

  .hero-p p {
    font-size: 1.5em;
  }

  .logo img {
    width: 80px;
  }

  .meeting-button {
    padding: 5px 10px;
  }
}

/* kartik */

/* body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
} */
.booking-form {
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}
.booking-form h2 {
  margin-bottom: 20px;
}
.booking-form label {
  display: block;
  margin-bottom: 5px;
}
.booking-form label span {
  color: red;
  margin-left: 5px;
}
.booking-form input,
.booking-form select,
.booking-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.booking-form button {
  background-color: #24aae3;
  color: #fff;
  border: none;
}
.booking-form button:hover {
  background-color: #1a4a5e;
}

/* Sarvam */
.carousel_outer .owl-item {
  background-color: black;
  border: 3px solid rgb(102, 102, 102);
  border-radius: 18px;
  overflow: hidden;
  transition: transform 0.5s;
  /* width: 250px !important; */
}

.carousel_outer .owl-item.center {
  transform: scale(1.3) !important;
  z-index: 5;
  border: 3px solid rgb(0, 162, 255);
  transition: transform 0.5s;
}

.section11 h3 {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 32px;
}

.section11 {
  padding: 3.5rem 0;
}

.subSection{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.owl-carousel.carousel_outer{
  width: 1200px;
    margin: auto;
}
.owl-carousel.carousel_outer .owl-stage {
  /* height: 550px; */
  padding: 86px 0 86px 0;
  box-shadow: rgba(255, 255, 255, 0.3) 105px 0px 60px -12px inset, rgba(255, 255, 255, 0.3) -105px 0px 60px 12px inset;
}
.buttonsCarousal{
  width: 100%;
  top: 0;
  height: 100%;
  z-index: 2;
  display: none;
}
.customNextBtn{
  font-size:100px;
  color: rgb(0, 162, 255);
  width: 195px;
  background: linear-gradient(270deg, #fff, hsla(0, 0%, 100%, 0));
  align-items: center;
  display: flex;
  justify-content: center;
}
.customPrevBtn{
  font-size: 100px;
  color: rgb(0, 162, 255);
  width: 195px;
  background: linear-gradient(90deg, #fff, hsla(0, 0%, 100%, 0));
  align-items: center;
  display: flex;
  justify-content: center;
}

/* kartik */

/* body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
} */
.booking-form {
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}
.booking-form h2 {
  margin-bottom: 20px;
}
.booking-form label {
  display: block;
  margin-bottom: 5px;
}
.booking-form label span {
  color: red;
  margin-left: 5px;
}
.booking-form input,
.booking-form select,
.booking-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.booking-form button {
  background-color: #24aae3;
  color: #fff;
  border: none;
}
.booking-form button:hover {
  background-color: #1a4a5e;
}

/* Sarvam */
.carousel_outer .owl-item {
  background-color: black;
  border: 3px solid rgb(102, 102, 102);
  border-radius: 18px;
  overflow: hidden;
  transition: transform 0.5s;
  /* width: 250px !important; */
}

.carousel_outer .owl-item.center {
  transform: scale(1.3) !important;
  z-index: 5;
  border: 3px solid rgb(0, 162, 255);
  transition: transform 0.5s;
}

.section11 h3 {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 32px;
}

.section11 {
  padding: 3.5rem 0;
}

.subSection{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.owl-carousel.carousel_outer{
  width: 1200px;
    margin: auto;
}
.owl-carousel.carousel_outer .owl-stage {
  /* height: 550px; */
  padding: 86px 0 86px 0;
  box-shadow: rgba(255, 255, 255, 0.3) 105px 0px 60px -12px inset, rgba(255, 255, 255, 0.3) -105px 0px 60px 12px inset;
}
.buttonsCarousal{
  width: 100%;
  top: 0;
  height: 100%;
  z-index: 2;
  display: none;
}
.customNextBtn{
  font-size:100px;
  color: rgb(0, 162, 255);
  width: 195px;
  background: linear-gradient(270deg, #fff, hsla(0, 0%, 100%, 0));
  align-items: center;
  display: flex;
  justify-content: center;
}
.customPrevBtn{
  font-size: 100px;
  color: rgb(0, 162, 255);
  width: 195px;
  background: linear-gradient(90deg, #fff, hsla(0, 0%, 100%, 0));
  align-items: center;
  display: flex;
  justify-content: center;
}